body{
    font-family: 'Times New Roman', Times, serif;
}
.container-fluid{
    text-align: center;
    height: 630px;
    background-color:deeppink;
    background-size: cover;
}
.container h1{
    text-align: center;
}
input{ 
    width: 400px;
    height: 30px;
    /* border-radius: 200px */
    /* text-align: center;  */
}

   
