

body{
    overflow: hidden;
}

.container-fluid{
    text-align: center;
    height: 630px;
    background-color:deeppink;
    background-size: cover;
}

#nav{
height: 50px;
    background-color: black;
}
#nav ul{
    display: flex;
    float: right;
}

#nav li {

    list-style-type: none;
    }

#nav a {
    color: white;
    margin-right: 150px;
    text-decoration: none;
    font-size: 30px;
}.container h1{
    background-image: url(images/best.jpg);
    margin-top: 30px;
    color:greenyellow;
    font-size: 70px;
    font-weight: bold;
    font-style: oblique;
    height: 500px;
}
.welcome{
    margin-left: -600px;
}
.alvo{
    margin-left: -300px;
    margin-top: -50px;
}
.best{
    margin-right: -180px;
    margin-top: -50px;

}
.in{
    margin-right: -500px;
    margin-top: -50px;
}
.city{
    margin-right: -820px;
    margin-top: -50px;
}

#about{ 
    background-image: url(images/back.jpeg);
    height: 620px;
    background-repeat: no-repeat;
    background-size: 800px;
}
#about h1{
    margin-top: -1px;
    color: yellowgreen;
    font-size: 43px;
    float: right;
    font-weight: bolder;
    background-color: deeppink;
    margin-right: 10px;

}


#pizza{
    font-weight: bold;
    background-color:deeppink ;
    
margin-top: 20px;
    height: 620px;
}
.row{
    padding-left: 70px;
}
.small{
    height: 100px;
}
.medium{
    margin-top: 30px;
    height: 120px;
}
.large{
    margin-top: 20px;
    height: 120px;
}
.bt{
    margin-left: 520px;
    margin-bottom: -200px;
}






